html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    background-color: $background-primary;
    color: $primary-text-color;

    font-family: 'Open Sans', sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.space {
    padding-top: 84px;
    padding-bottom: 84px;
}

.link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}