// Primary text color #555555
// Secondary text color #9DA4BD
// Accent color #FF6C00
// Background white color #E5E5E5;
// Background grey color  #F7F7F7;

:root {
   --primary-text-color: #555555;
   --secondary-text-color: #9DA4BD;
   --accent-color: #FF6C00;
   --background-primary: #E5E5E5;
   --background-accent: #F7F7F7;
}

$primary-text-color: #555555;
$secondary-text-color: #9DA4BD;
$accent-color: #FF6C00;
$background-primary: #E5E5E5;
$background-dark: #191C26;
$background-accent: #F7F7F7;