.about .section-title {
    font-size: 28px;
}

.about-text {
    margin-bottom: 20px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    &__big {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.62;
    }
}