.hero {
    

    @media screen and (max-width: 767px) {
        background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../../images/hero-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        }
    
        // @media screen and (min-width: 768px) {
        //     
    
        // }
    
        // @media screen and (min-width: 1600px) {}
        // 

    .section-subtitle {
        padding-top: 208px;
        letter-spacing: 0.1em;
    }  
}   

.hero-name {
    margin-bottom: 20px;

    font-family: 'Raleway';
    @include typography (700, 48px, 1.17);
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero-text {
    padding-bottom: 209px;

    @include typography (400, 16px, 1.62);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
}