.hero {
    

    @media screen and (max-width: 767px) {
        background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../../images/hero-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        }
    
        @media screen and (min-width: 768px) {
            background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                url(../../images/hero-tab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
    
        }
    
        @media screen and (min-width: 1200px) {
            background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                url(../../images/hero-desk.jpg);
            background-repeat: no-repeat;
            background-size: cover;

        }
        

    .section-subtitle {
        
        letter-spacing: 0.1em;
        @media screen and (max-width: 767px) {
            padding-top: 208px;
        }
            
        @media screen and (min-width: 768px) {
            padding-top: 272px;
        }
    }  
}   

.hero-subcontainer {
    @media screen and (max-width: 767px) {
        width: 336px;
    }

    @media screen and (min-width: 768px) {
        width: 360px;
        margin-left: 120px;
        margin-right: 90px;
    }

    @media screen and (min-width: 1200px) {
        width: 444px;
        margin-left: 100px;
        
    }
}

.hero-name {
    margin-bottom: 20px;

    font-family: 'Raleway';
    @include typography (700, 48px, 1.17);
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero-text {
    padding-bottom: 209px;

    @include typography (400, 16px, 1.62);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
}