.services {
    
    @media screen and (max-width: 767px) {
    background: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)),
        url(../../images/prices-bgc-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
        .section-title {
            font-size: 40px;
        }
    }


    @media screen and (min-width: 768px) {
        background: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)),
            url(../../images/prices-bgc-tab.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .section-title {
            font-size: 42px;
        }
    }

    @media screen and (min-width: 1200px) {
        background: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)),
            url(../../images/prices-bgc-desk.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        
    }
}



    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 44px;
        color: #ffffff;
    }


.services-list {
    margin-top: 44px;
    padding: 30px 20px 30px 40px;

    @media screen and (max-width: 1199px) {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
    

    @media screen and (max-width: 767px) {
        @include typography (400, 14px, 1.43);
    }

    @media screen and (min-width: 768px) {
        @include typography (400, 18px, 1.43);
    }



    
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
        
    }


}

.services-sublist {
    @media screen and (min-width: 1200px) {
        width: calc(50% - 30px);
    }

}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.service-item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgba(157, 164, 189, 0.12);
}

.service-text:first-child {
    order: -1;
}



.service-item:not(:last-child) {
    padding-bottom: 20px;
}

.services-sublist.left {
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 20px;
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
}

.services-sublist.right {
    @media screen and (min-width: 1200px) {
        padding: 30px 20px;
        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);    
    }
}

