.container.footer-socials {

    padding-top: 44px;
    padding-bottom: 44px;

    @include typography (600, 11px, 1.36);
    letter-spacing: 0.2em;

    background-color: #ffffff;
}

.footer-socials--list {
    position: relative;
    display: flex;
    justify-content: end;
}



.footer-socials--item {

    color: #303030;
}

.footer-socials--item:not(:last-child) {
    margin-right: 40px;
}

.footer-socials--item:first-child::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    top: 6px;
    right: 213px;
    // margin-left: 40px;
    background-color: #303030;

    transition: background-color 250ms linear;
}

.footer-socials--link {
    transition: color 250ms linear;
}

.footer-socials--link:hover,
.footer-socials--link:focus {
    color: $accent-color;
}

.copyright {
    margin-bottom: 20px;
    color: $secondary-text-color;
}